<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Login</h3>
                    </div>
                    <div class="card-body">

                        <form *ngIf="isAdminLogin === false; else adminLogin">
                            <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input
                                    class="form-control py-4" id="inputPassword" type="password"
                                    placeholder="Enter password" [(ngModel)]="model && model.password" /></div>
                            <div class="form-group">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="button" class="btn btn-link" (click)="isAdminLogin = !isAdminLogin">Admin
                                    login</button>
                                <a class="btn btn-primary" (click)="onLogin()">Login</a></div>
                        </form>
                        <ng-template #adminLogin>
                            <form>
                                <div class="form-group"><label class="small mb-1"
                                        for="inputEmailAddress">Email</label><input class="form-control py-4"
                                        id="inputEmailAddress" type="email" placeholder="Enter email address"
                                        [(ngModel)]="model && model.email" /></div>
                                <div class="form-group"><label class="small mb-1"
                                        for="inputPassword">Password</label><input class="form-control py-4"
                                        id="inputPassword" type="password" placeholder="Enter password"
                                        [(ngModel)]="model && model.password" /></div>
                                <div class="form-group">

                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button type="button" class="btn btn-link"
                                        (click)="isAdminLogin = !isAdminLogin">Student login</button>
                                    <a class="btn btn-primary" (click)="onLogin()">Login</a></div>
                            </form>
                        </ng-template>
                    </div>
                    <div class="card-footer text-center">
                        ""
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>